---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/Gallery.astro";

import type { ImageMetadata } from "astro";
const imageModules = await import.meta.glob<ImageMetadata>(
  "../assets/images/boat-*.{png,jpg,jpeg,webp,svg}",
  {
    eager: true,
    import: "default",
  }
);

const imagePaths = Object.entries(imageModules).map(([path, image]) => ({
  url: image,
  alt: `Boat ${path
    .split("/")
    .pop()
    ?.replace(/boat-(.+?)\.[^.]+$/, "$1")}`,
}));
---

<Layout title="Boat Gallery">
  <div class="min-h-screen flex flex-col">
    <div class="flex-1 w-full max-w-7xl mx-auto px-4 py-4">
      <h1
        class="text-2xl sm:text-3xl font-bold mb-4 text-center text-book-gray"
      >
        Boat Gallery
      </h1>
      <Gallery images={imagePaths} />
    </div>
  </div>
</Layout>
