---
import { Image } from "astro:assets";

import { author } from "../config.json";
---

<div class="bg-gray-50">
  <div class="max-w-screen-xl mx-auto py-16">
    <h2 class="text-5xl mb-8 font-semibold text-gray-900 px-4">
      Get the <!-- -->&nbsp;<span class="underline">Audiobook!</span>
    </h2>

    <div class="flex-none sm:flex">
      <div class="text-lg text-gray-600 sm:flex-1 px-4">
        <p class="mb-4">
          Immerse yourself in the story, feel the emotions, and connect with the
          characters in a unique way.
        </p>

        <p class="mb-4">
          Experience the captivating journey of <em>The Tale of Survival</em> wherever
          you are, at any time. Let the story come to life through the power of narration.
        </p>

        <p class="mb-4 italic">
          Listen to a free excerpt and get a taste of our journey:
        </p><p class="mb-4">
          <audio src="/audio-intro.wav" controls=""></audio>
        </p>
      </div>

      <div class="text-lg text-gray-600 sm:flex-1 px-4">
        <Image
          class="mb-4 rounded-md"
          src={"/audiobook.webp"}
          width={500}
          height={500}
          alt={author.name}
          format={"webp"}
        />
      </div>
    </div>
  </div>
</div>
