---
import Github from "./icons/Github.astro";
---

<div
  class="bg-book-gray text-gray-50 py-12 px-4 sm:px-6 flex flex-col justify-center items-center leading-4"
>
  <p class="text-xl text-center mb-4 px-2 sm:px-0">
    Made with <!-- -->
    <span class="text-3xl text-pink-400 love">🤝</span>
    <!-- -->from the<!-- -->
    <a
      class="text-book-theme border-b-2 border-transparent hover:border-book-yellow transition ease-in-out duration-300"
      href="https://github.com/candidosales/landing-page-book-astro-svelte-tailwind"
      target="blank">Cândido Sales Book Landing v2</a
    >
  </p>
  <p class="text-xl text-center px-2 sm:px-0">
    <a
      class="flex flex-row items-center text-book-theme border-b-2 border-transparent hover:border-book-yellow transition ease-in-out duration-300"
      href="https://tail-of-survival.netlify.app"
      target="_blank">https://tale-of-survival.netlify.app</a
    >
  </p>
  <!-- <Github color="text-gray-50" width="w-7" height="h-7" /> -->
</div>
