---
import GalleryImage from "./GalleryImage.astro";
import "lightgallery/css/lightgallery.css";
import "lightgallery/css/lg-zoom.css";
import "lightgallery/css/lg-thumbnail.css";

interface Props {
  images: Array<{
    url: string;
    alt: string;
  }>;
}

const { images } = Astro.props;
---

<div id="lightgallery" class="flex flex-wrap gap-4">
  {images.map((image) => <GalleryImage {...image} />)}
</div>

<script>
  // These imports are needed for client-side functionality
  import lightGallery from "lightgallery";
  import lgThumbnail from "lightgallery/plugins/thumbnail";
  import lgZoom from "lightgallery/plugins/zoom";

  document.addEventListener("astro:page-load", () => {
    const galleryElement = document.getElementById("lightgallery");
    if (galleryElement) {
      lightGallery(galleryElement, {
        plugins: [lgThumbnail, lgZoom],
        speed: 500,
      });
    }
  });
</script>
