---
interface Props {
  url: string;
  alt: string;
}

const { url, alt } = Astro.props;
---

<wa-carousel-item fit>
  <figure class="w-full h-full relative">
    <div
      class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent pointer-events-none"
    >
    </div>
    <img
      src={url}
      alt={alt}
      class="w-full h-full object-contain bg-[#01060f]"
      loading="lazy"
    />
    <figcaption
      class="text-center p-3 text-white absolute bottom-0 w-full z-10 text-lg"
    >
      {alt}
    </figcaption>
  </figure>
</wa-carousel-item>

<style>
  img {
    max-height: calc(100vh - 200px);
  }
</style>
