---
import { Image } from "astro:assets";
import { showBuyAudiobookButton, showAmazonTag, book } from "../config.json";
import amazonLogo from "../assets/images/amazon.svg";
import bookCover from "../assets/images/cover.webp";
---

<main class="max-w-screen-xl mx-auto px-4 py-12 md:py-16 lg:py-24">
  <div class="lg:grid lg:grid-cols-12 lg:gap-8">
    <div class="mb-12 md:max-w-2xl md:mx-auto lg:col-span-8">
      {
        showAmazonTag && (
          <div class="text-base uppercase tracking-wide mb-4">
            <Image
              class="inline h-5 relative"
              style="top:3px"
              src={amazonLogo}
              alt="amazon.com"
              width={300}
              height={480}
              loading="eager"
              format="webp"
              quality={80}
            />{" "}
            best-seller
          </div>
        )
      }

      <a href="https://tale-of-survival.netlify.app"
        ><h1
          class="mt-1 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl uppercase"
        >
          The Tale of<!-- -->&nbsp;<br class="hidden md:inline" /><span
            class="underline">Survival</span
          >
        </h1></a
      >

      <p
        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body"
      >
        "The Tale of Survival" is a story about a young girl named Phương Nguyễn
        who lived in Saigon during the Vietnam War. The book starts with Phương
        enjoying a happy life with her family, but everything changes when the
        war ends and Saigon falls to the communists. Phương's world turns upside
        down. She sees helicopter crashes, scared soldiers running, and
        intimidating tanks with looming red flags.
      </p>
      <p
        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body mb-4"
      >
        Her family is worried and scared, and they don't know what the future
        holds. They have to learn to live in a new way, with new rules and
        challenges. The book tells us about the hard times they face: finding
        food, dealing with the new government, and trying to stay safe. But it's
        also a story about how people can be strong and help each other.
      </p>
      <p
        class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl font-body mb-4"
      >
        Phương's family and community come together to support each other,
        sharing what little they have and finding ways to survive. "Tales of
        Survival" is a powerful story about how one young girl and her family
        faced a difficult time and found a way to keep going. It's a reminder
        that even when things are tough, people can be brave, kind, and hopeful.
      </p>
      <div>
        <div class="mt-8 flex flex-col sm:flex-row gap-4">
          <a
            href="https://www.amazon.com/TALE-SURVIVAL-Jane-Phuong-Nguyen-ebook/dp/B0DQXCBXN7/ref=sr_1_1?dib=eyJ2IjoiMSJ9.n_BqF8kh5PqAPCYYA78hhQ.6f71k4V29CK_dtz9rRF-BWxaEgVghH4qoH0AtI8KLZ0&dib_tag=se&keywords=The+Tale+of+Survival+Jane+Phuong+Nguyen&qid=1734977196&sr=8-1"
            target="_blank"
            class="inline-flex items-center justify-center px-6 py-3 rounded-md font-semibold text-gray-900 bg-book-theme hover:bg-yellow-200 transition duration-300"
          >
            Buy the Book on Amazon
          </a>
          <a
            href="https://www.barnesandnoble.com/w/the-tale-of-survival-jane-phuong-nguyen/1146710776?ean=9798896632672#"
            target="_blank"
            class="inline-flex items-center justify-center px-6 py-3 rounded-md font-semibold text-gray-900 bg-book-theme hover:bg-yellow-200 transition duration-300"
          >
            Buy the Book at Barnes & Nobel
          </a>
          {
            showBuyAudiobookButton && (
              <a
                href="#audiobook"
                class="inline-flex items-center justify-center px-6 py-3 rounded-md font-semibold text-white bg-book-gray hover:bg-gray-800 transition duration-300"
              >
                Buy the Audiobook
              </a>
            )
          }
        </div>
        <p class="mt-4 text-sm text-book-gray sm:text-base">
          Take a peek <a
            download=""
            href="https://www.amazon.com/TALE-SURVIVAL-Jane-Phuong-Nguyen-ebook/dp/B0DQXCBXN7?dib=eyJ2IjoiMSJ9.n_BqF8kh5PqAPCYYA78hhQ.6f71k4V29CK_dtz9rRF-BWxaEgVghH4qoH0AtI8KLZ0&dib_tag=se&keywords=The+Tale+of+Survival+Jane+Phuong+Nguyen&qid=1734977196&sr=8-1&asin=B0DQXCBXN7&revisionId=e91aab83&format=3&depth=1"
            class="underline hover:bg-book-yellow transition ease-in-out duration-300"
            >at the first chapter</a
          > for free.
        </p>
      </div>
    </div>
    <div
      class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-4 lg:flex lg:items-center"
    >
      <a class="book-container" href="#ebook">
        <div class="book">
          <Image
            src={bookCover}
            width={600}
            height={900}
            alt={book.title}
            format="webp"
            loading="eager"
            quality={90}
            class="w-full h-auto object-cover rounded-lg shadow-lg transform transition-all duration-300 hover:scale-105"
          />
        </div>
      </a>
    </div>
  </div>
</main>
